ul {
    padding: 0px;
    list-style: none;
}

.employeeContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.employee {
    flex-basis: 50%;
    min-width: 290px;
    max-width: 290px;
    margin: 5px;
    border: solid black 1px;
}